<mat-toolbar>
  <a routerLink="/" class="brand" aria-label="BirdDoc – Beringungsdokumentation">
    <img
      src="/birddoc-logo-1930x1930.png"
      alt=""
      aria-hidden="true"
      class="brand__mark"
      width="28" height="28" />
    <span class="brand__word">BirdDoc</span>
  </a>
  @if (currentProject(); as project) {
    <button
      mat-button
      class="project-switcher"
      [matMenuTriggerFor]="projectMenu"
      aria-label="Projekt wechseln"
    >
      <span class="project-switcher__title">{{ project.title }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #projectMenu="matMenu">
      @for (p of projects(); track p.id) {
        <button
          mat-menu-item
          [class.project-switcher__item--active]="p.id === project.id"
          (click)="switchProject(p)"
        >
          <mat-icon>{{ p.id === project.id ? 'check' : '' }}</mat-icon>
          <span>{{ p.title }}</span>
        </button>
      }
      <mat-divider></mat-divider>
      <button mat-menu-item class="project-switcher__all" (click)="goToPicker()">
        <span>Alle Projekte …</span>
      </button>
    </mat-menu>
  }
  <span class="spacer"></span>
  @if (currentProject()) {
    <a
      mat-button
      class="letzte-faenge"
      routerLink="/data-entries"
      routerLinkActive="letzte-faenge--active"
    >
      <span>Letzte Fänge</span>
    </a>
  }
  @if (showNewFang()) {
    <a
      mat-flat-button
      color="primary"
      class="new-fang"
      routerLink="/data-entry"
    >
      <mat-icon>add</mat-icon>
      <span>Neuer Fang</span>
    </a>
  }
  <button mat-button [matMenuTriggerFor]="userMenu" class="user-trigger">
    <span>{{ userLabel() }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    @if (isStaff()) {
      <a
        mat-menu-item
        aria-label="Django-Administration öffnen"
        [href]="adminUrl"
      >
        <mat-icon>build</mat-icon>
        <span>Administration</span>
      </a>
      <mat-divider></mat-divider>
    }
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Abmelden</span>
    </button>
  </mat-menu>
</mat-toolbar>
